.DS_Store
/node_modules
/.vagrant/
!/components/
/components/*
!/components/components.js.coffee
!/public/
/public/*
!/public/assets*
/public/assets/*
!/public/assets/index.html
!/public/favicon.ico*
!/public/fonts*
!/public/images*
!/public/media*