.progress-bar-dull
    background-color: #535353

.progress-bar-blue-sky
    background-color: #618CBD

.btn
    border-radius: 0
    color: #000

pre
    background-color: transparent
    border-color: transparent
    color: initial
    line-height: 1.42857143
    margin: 0
    padding: 0

.hljs.shell
    *
        color: #839496
