nav.navbar.navbar-default
    background-color: #2d2d2d
    border-color: rgba(255,255,255,0.1)
    border-width: 0 0 3px
    transition: box-shadow 2s

    &.navbar
        border-radius: 0
        margin-bottom: 0
    &.moved
        box-shadow: 0 -23px 40px -10px #000

    .navbar-header
        .navbar-brand
            color: #ECECEC

        .navbar-toggle
            border-width: 0
            border-color: transparent
            height: 50px
            margin: 0
            padding-right: 15px

            &:hover, &:focus
                background-color: transparent
            
            .icon-bar
                background-color: #888
                &+.icon-bar
                    margin-top: 7px

    .navbar-collapse
        border-color: transparent

        ul.navbar-nav
            li
                &.active
                    a
                        background-color: #3A3A3A
                        color: #EFEFEF
                        &::first-letter
                            color: #FFF

                a
                    color: #EBEBEB
                    letter-spacing: .02rem
                    &::first-letter
                        color: #EEE
