nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/', data-behavior='route') Rafael Corral
        .collapse.navbar-collapse(id='bs-example-navbar-collapse-1')
            ul.nav.navbar-nav.navbar-right
                - var className = homeActive ? 'active' : ''
                li(class='#{className}')
                    a(href='/', data-behavior='route') Home
                - var className = portfolioActive ? 'active' : ''
                li(class='#{className}')
                    a(href='/portfolio', data-behavior='route') Portfolio
                - var className = aboutActive ? 'active' : ''
                li(class='#{className}')
                    a(href='/about', data-behavior='route') About
