.container-fluid.site-intro(tabindex=0)
    section
        h1 Hello, It's nice to meet you.
        p My name is Rafael. I'm an ex-software engineer, now engineering manager and tech lead who currently lives in San Francisco.
            br
            | I work for a startup, 
            a(href='http://mesosphere.io/', title='Mesosphere, Inc.') Mesosphere
            | .
            br
            | I've previously worked at 
            a(href='http://quid.com/', title='Quic, Inc.') Quid, Inc., 
            a(href='https://www.barracuda.com/', title='Barracuda Networks') Barracuda Networks
            |  and a small consulting firm '
            a(href='https://www.corephp.com/', title="'corePHP'") corePHP
            | '.
    a.read-more(href='/blog', data-behavior='read-more')
        i(class='fa fa-angle-right')