.container-fluid.site-intro(tabindex=0)
    section
        h1 Hello, It's nice to meet you.
        p My name is Rafael. I'm a software engineer, currently living in San Francisco.
            br
            | I work for a startup, 
            a(href='http://quid.com/', title='Quid, Inc.') Quid, Inc
            | .
            br
            | I've previously worked at 
            a(href='https://www.barracuda.com/', title='Barracuda Networks') Barracuda Networks
            |  and a small consulting firm '
            a(href='https://www.corephp.com/', title="'corePHP'") corePHP
            | '.
    a.read-more(href='/portfolio', data-behavior='read-more')
        i(class='fa fa-angle-right')