script(id='portfolios-index', type='text/x-handlebars-template')
    .portfolio-wrapper
        {{#each portfolios}}
        .outer
            .inner
                .content
                    {{{template}}}
        {{/each}}
