script(id='portfolios-index', type='text/x-handlebars-template')
    h2 Check out my work. Included are personal and professional projects.
    .portfolio-wrapper
        {{#each portfolios}}
        .outer
            .inner
                .content
                    {{{template}}}
        {{/each}}
