script(id='portfolio-inspires', data-sort="13", type='text/x-handlebars-template')
    .portfolio-item
        img.img-polaroid(src='#{getHost()}/images/portfolio/inspires/inspires-thumb.jpg', alt='Online idea collaboration.')
        h3 Idea Collaboration
        p.lead A single page application to collaborate on new ideas.

    .hidden
        button.close.fa.fa-close
        .item-more

            article
                p As an entrepreneur I'm continuously thinking of my next project and what it should be. I often build new applications with my colleagues and as the first step before building out a new idea we collaborate and refine our thoughts until we have a solid plan. This step, collaboration, is crucial, and I wanted to build a website that embraced collaboration to help people polish up any idea.
                p Me and my colleagues thought of building a public site where people could collaborate on ideas that weren't concrete, with the effort of having other people collaborate and solidifying an idea.
                p This application was built using Meteor, an open-source platform. We built this as a single page application, all the logic for the application is written in JavaScript, for both front-end and back-end. Meteor comes with reactivity, this means that data is pushed to other clients immediately, this allows collaboration to happen in near real-time.
                p: strong Technologies used:
                ul
                    li JavaScript
                    li node.js
                    li MongoDB
                    li: a(href='https://www.meteor.com/') Meteor
                    li jQuery
                    li GIT
                p: strong Further links:
                ul
                    li: a(href='http://inspires.io/') inspires.io
                    li: a(href='https://github.com/m1ck3y/inspires') GitHub repository
