script(id='portfolio-jommobile', type='text/x-handlebars-template')
    .portfolio-item
        img.img-polaroid(src='images/portfolio/jommobile/menu-manager-thumb.jpg', alt='jomMobile menu manager thumbnail')
        h3 jomMobile
        p.lead Mobile application to administrate Joomla websites.

    .hidden
        button.close X
        .item-more
            .images
                .inner-wrap
                    img.no-polaroid(src='images/portfolio/jommobile/jommobile-logo.png', alt='jomMobile logo')
                    img(src='images/portfolio/jommobile/website.jpg', alt='jomMobile.com Website')
                    img(src='images/portfolio/jommobile/article-manager.jpg', alt='jomMobile Article Manager')
                    img(src='images/portfolio/jommobile/article-edit.jpg', alt='jomMobile Edit Article')
                    img(src='images/portfolio/jommobile/menu-manager.jpg', alt='jomMobile Menu Manager')

            article
                
                p
                    | This is a Mobile app that I built using 
                    a(href='http://phonegap.com/', title='PhoneGap') PhoneGap
                    | . I built this app in 2011 as project that spawned out of my curiosity into mobile app development. This app was released for the iOS and Android platforms, it also gained quick popularity and user adoption. This was a free application with some in-app purchases that let Joomla site administrators manage categories, menus, users, create content and manage 3rd party extensions right from their mobile device. Along with the mobile app I used an already existing RESTful API component for Joomla that I had to convert to work on Joomla 2.5 and I had to heavily modify to create the RESTful API that I needed. I also created an SDK, this allowed developers to create plugins that would let jomMobile users administer their 3rd party Joomla extensions.
                p After multiple Joomla version releases I realized that updating the mobile app to keep up with changes in Joomla was very time consuming, unfortunately I did not have the time for this and I made the decision to remove the app from the market.
                p: strong Notable points:
                ul
                    li PHP &amp; MySQL
                    li RESTful API
                    li PHP SDK
                    li HTML5
                    li jQuery &amp; jQuery Mobile
                    li GIT
                    li Phing
