script(id='portfolio-ppw', data-sort="7", type='text/x-handlebars-template')
    .portfolio-item
        img.img-polaroid(src='images/portfolio/ppw/user-dashboard-thumb.jpg', alt='Professional and Personal Wellness thumbnail')
        h3 Professional and Personal Wellness
        p.lead A wellness company.

    .hidden
        button.close X
        .item-more
            .images
                .inner-wrap
                    img(src='images/portfolio/ppw/user-dashboard.jpg', alt='User dashboard')
                    img(src='images/portfolio/ppw/nutritional-application.jpg', alt='Nutrition activity log')
                    img(src='images/portfolio/ppw/physiological-parameters.jpg', alt='Physiological parameters')
                    img(src='images/portfolio/ppw/consultant-assessment.jpg', alt='Creating Assessment')

            article
                p This company helps their clients increase their quality of life by creating an environment that promotes healthy living. The core of their business is doing health assessments on their clients. Assessments consist in recording health risk factors, this data includes: BMI, body fat, heart rate, cholesterol, glucose, smoking and others, health questions are also asked at the time of the assessment, and depending on the client's answers an action plan is tailored that is unique to this assessment through an algorithm. When an assessment is complete emails are dispatched at specific times and follow up reminders are sent to the consultants. A client may be referred to their doctor, and their consultant will get follow up reminders from the system to check if their client went to the doctor.
                p Professional and Personal Wellness, PPW, has developed programs that encourage users to lose weight by participating in different activities that involve logging time and with this creating a competitive environment with other users in the system, for example, a user can log time for running everyday to reach the goal of running 50 hours in one month, if met they would receive a price. Emails are dispatched to consultants when goals are met, the user is also recognized on the website, this is all automated. Emails are sent to users as reminders when the end of a program is approaching to encourage them to meet the goal. The website also contains a powerful calendar, which was modified out of a popular calendar extension for Joomla. Event reminders are sent to users from the calendar. There is a robust email system that allows the user to select if the want immediate emails, daily or weekly digests. Finally I also built from the ground up a complete nutrition component, this allows users to log every meal, and create their own meals. This nutrition system allows for a user to set goals and get reports on their food logging activities.
                p I was the sole back-end developer on this project. This project project took about 9 months from start to finish. Before PPW came to 'corePHP' they were working with an application developed in Microsoft Access to do assessments and send some emails via Outlook. They also had a website that managed the programs and the calendar. I was able to bring everything together under one roof, merging their Access database and their website database together avoiding any loss of data. They have had huge success since the launch of their new website.
                p: strong Notable points:
                ul
                    li PHP OOP
                    li MySQL &amp; Microsoft Access
                    li JavaScript
                    li RESTful API
                    li Access Control Levels
                    li Automated deployment
                    li Code Encryption
                    li GIT
                p: strong Further links:
                p
                  | - 
                  a(href='http://www.properwell.com/', title='Professional and Personal Wellness') http://www.properwell.com/
