script(id='portfolio-salesforceintegrations', data-sort="5", type='text/x-handlebars-template')
    .portfolio-item
        img.img-polaroid(src='images/portfolio/salesforce/salesforce_com-logo.jpg', alt='Salesforce.com logo thumbnail')
        h3 SalesForce integrations
        p.lead Some Salesforce integrations that I've done.

    .hidden
        button.close.fa.fa-close
        .item-more

            article
                p There are three integrations with Salesforce that I've worked on.
                p: strong Products
                p This integration involved pulling products from a clients Salesforce account, and import them into Virtuemart, a popular Joomla! shopping cart. This allowed users to order products through their website. Once a product was ordered a lead was created in Salesforce.
                p: strong Single sign-on
                p This is a Joomla! plugin that allows a user who is logged into their Salesforce account to be automatically logged into the company's website via a Salesforce Web Tab.
                p: strong Authentication plugin
                p I developed a Salesforce authentication plugin that would allow a user to log into Joomla using their Salesforce credentials.
