script(id='portfolio-wp4j', data-sort="1", type='text/x-handlebars-template')
    .portfolio-item
        img.img-polaroid(src='images/portfolio/wp4j/wordpress-logo-thumb.jpg', alt='WordPress logo')
        h3 WordPress for Joomla!
        p.lead This is an integration for the WordPress CMS to work inside of Joomla.

    .hidden
        button.close X
        .item-more
            .images
                .inner-wrap
                    img(src='images/portfolio/wp4j/wordpress-in-joomla.png', alt='WordPress blog in Joomla')

            article
                p I originally developed this integration in two months during the winter of 2008. I have improved and continued developing this integration since I originally released it under the 'corePHP' umbrella. This extension has been one of the most popular and best selling extensions in the Joomla community.
                p Some of the features that this integration offers are the following:
                ul
                    li User integration and single sign-on login
                    li Search engine friendly URLs
                    li Seamless integration with Joomla
                    li Access to the thousands of plugins available in the WordPress community
                    li Multiple modules are available to display the blog's content
                    li WordPress's Multisite is fully functional
                    li Average 4.5 out of 5.0 rating on the Joomla! Extensions Directory
                p: strong Other notable points:
                ul
                    li PHP
                    li MySQL
                    li GIT
                    li Phing
                p: strong Further links:
                p
                    | - 
                    a(href='http://www.corephp.com/joomla-products/wordpress-for-joomla.html', title='WordPress for Joomla - corePHP') http://www.corephp.com/joomla-products/wordpress-for-joomla.html
                    br
                    | - 
                    a(href='http://extensions.joomla.org/extensions/social-web/social-edition/blog-integration/6659', title='WordPress for Joomla - JED') WordPress for Joomla on the Joomla Extensions Directory
