h2 Check out my work. Included are personal and professional projects.
.portfolio-wrapper
    each projectTemplate in projects
        .outer
            .inner
                .content
                    != projectTemplate
