.portfolio-item
    img.img-polaroid(src='#{getHost()}/images/portfolio/xchat/login-prompt-thumb.jpg', alt='Chat')
    h3 xchat
    p.lead A web based chat client.

.hidden
    button.close.fa.fa-close
    .item-more
        .images
            .inner-wrap
                img(src='#{getHost()}/images/portfolio/xchat/login-prompt.jpg', alt='Chat')
                img(src='#{getHost()}/images/portfolio/xchat/the-chat-window.jpg', alt='Chat')

        article
            p Because this idea is still in development I can't divulge as much information as I'd like to.
            p This idea spawned out of a hackathon at 'corePHP'. We wanted to develop a fully featured web based chat client like no other. The server is built on node.js and MongoDB.
            p One of the ideas behind this project was that the chat client could be used in two ways; One to offer chat support on websites and two as a group chat client where users could share files, view full history of chat rooms, etc.
            p The idea is still in the works, and hopefully we will be releasing it in the future!
