footer
    .footer-width
        .custom-footer.container-fluid
            .row
                .col-xs-12.col-sm-6.col-md-5
                    h4 Let's get to know each other.
                .col-xs-12.col-sm-6.col-md-7
                    p.contact-links
                        a(href='https://twitter.com/rcorral', title='Twitter')
                            i(class='fa fa-twitter')
                        a(href='http://www.linkedin.com/in/rafacorral', title='LinkedIn')
                            i(class='fa fa-linkedin')
                        a(href='https://github.com/rcorral/', title='Github')
                            i(class='fa fa-github')
                        script var prefix = '&#109;a' + 'i&#108;' + '&#116;o', path = 'hr' + 'ef' + '=', addy22002 = 'm&#101;' + '&#64;'; addy22002 = addy22002 + 'r&#97;f&#97;&#101;lc&#111;rr&#97;l' + '&#46;' + 'c&#111;m'; var addy_text22002 = 'Em&#97;&#105;l' + ''; var addy_text32712 = '<i class="fa fa-paper-plane"></i>'; document.write('<a ' + path + '\'' + prefix + ':' + addy22002 + '\' title=\'' + addy_text22002 + ' me.\'>'); document.write(addy_text32712); document.write('</a>');
                        a(href='#{getHost()}/media/Rafael-Corral-Resume.pdf', title='Rafael Corral\'s Résumé.')
                            i(class='fa fa-file-text')
            .row
                .col-xs-12.col-sm-6.col-md-5
                    p
                        | I'm a front-end and back-end developer,
                        br
                        | living in San Francisco.
                .col-xs-12.col-sm-6.col-md-7
                    p I started coding when I was 15 and haven't stopped since. I love it, finding and implementing solutions to problems gives me a great thrill.

            .row.powered-by
                .col-xs-12
                    p 
                        a(href='http://nodejs.org/') node.js
                        |  . 
                        a(href='http://coffeescript.org/') coffeescript
                        |  . 
                        a(href='http://expressjs.com/') express
                        |  . 
                        a(href='http://jade-lang.com/') jade
                        |  . 
                        a(href='http://backbonejs.org/') backbone.js
                        |  . 
                        a(href='http://redis.io/') redis
                        |  . 
                        a(href='http://nginx.org/') nginx
                        |  . 
                        a(href='http://aws.amazon.com/cloudfront/') cloudfront
                        |  . 
                        a(href='https://cloud.google.com/compute/') compute engine
                        |  . 
                        a(href='https://github.com/rcorral/rafael') github
