.app-about
    font-size: 1.6rem

    .self-describing-nouns
        font-size: 2.3rem
        font-kerning: normal
        margin-bottom: 30px

    .hire-me
        margin-top: 20px

@media (max-width: 767px)
    .app-about
        .my-info
            margin-top: 30px

@media (max-width: 356px)
    .app-about
        .self-describing-nouns
            font-size: 2rem

@media (min-width: 768px) and (max-width: 868px)
    .app-about
        .my-info
            font-size: 1.4rem
