.img-polaroid
    background-color: #fff
    border: 1px solid rgba(0,0,0,0.2)
    box-shadow: 0 1px 3px rgba(0,0,0,0.1)
    padding: 4px

html, body, body .site-intro
    height: 100%
.site-intro
    align-items: center
    background-color: rgba(11, 31, 63, 0.82)
    color: #fff
    display: flex
    flex-direction: row
    font-family: 'Open Sans', sans-serif;
    font-size: 18px
    section
        max-width: 400px
        p
            border-left: 3px solid rgba(204, 204, 204, 0.49);
            padding-left: 8px;
            a
                color: #FFFFFF
                text-shadow: 0px 0px 2px rgba(11, 11, 11, 0.34)
    .read-more
        cursor: pointer
        font-size: 39px
        margin-left: 45px
        opacity: .8

.main
    margin-left: auto
    margin-right: auto
    margin-top: 25px
    width: 920px

/* Headings */
@font-face
    font-family: 'FontinSansB'
    src: url('../fonts/Fontin_Sans_B_45b.otf') format('opentype')
    font-weight: bold

h1, h2, h3, h4, h5, h6, .site-title
    font-family: 'FontinSansB', Helvetica, Arial, sans-serif

h1, h2, h3, h4, h5, h6
    margin: 12px 0

h1
    font-size: 26px
    line-height: 28px

h2
    font-size: 22px
    line-height: 24px

h3
    font-size: 18px
    line-height: 20px

h4
    font-size: 14px
    line-height: 16px

h5
    font-size: 13px
    line-height: 15px

h6
    font-size: 12px
    line-height: 14px

/* Footer */
footer
    background-color: #2D2D2D
    color: #EFEFEF
    float: left
    margin: 0 auto
    text-shadow: 0 6px 7px rgba(13, 13, 13, 0.62)
    width: 100%

    .copyright
        margin-right: 10px
        font-size: 20px

    .custom-footer
        font-weight: 200
        line-height: 27px
        margin: 18px 10px 0
        padding: 15px

        .row:last-child
            div:last-child
                max-width: 435px
                float: right

    .custom-footer h4
        font-size: 25px
        margin-bottom: 22px

    .custom-footer p
        font-size: 18px

    .custom-footer p:last-child
        margin: 0

    .custom-footer .contact-links
        text-shadow: 0 1px 3px #000000
        float: right

    .custom-footer a:link,
    .custom-footer a:visited
        color: #fff

/* For tablets - Backgrounds will overflow anyways so who cares, had to work with design */
@media (max-width: 979px)
    .main
        width: 100%

@media (max-width: 934px)
    .site-description
        color: #FFFFFF

@media (max-width: 616px)
    .site-description
        color: #000

@media (max-width: 384px)
    .site-intro .read-more
        position: absolute
        bottom: 30px
        left: 108px

@media (max-width: 480px)
    .site-intro .read-more
        margin-left: 25px
    h1
        font-size: 22px

    footer .footer-width
        margin: 0 auto

    .custom-footer h4
        font-size: 20px !important

    .custom-footer p
        font-size: 15px !important

@media (min-width: 481px)
    footer .footer-width
        margin: 0 auto

@media (max-width: 768px)
    body
        padding-top: 0

    .header
        background: transparent

    .modal.fade
        top: -100%

    .custom-footer h4
        font-size: 22px

    .custom-footer p
        font-size: 16px

@media (max-width: 991px)
    footer .custom-footer
        max-width: 425px
        margin-left: auto
        margin-right: auto

        p.contact-links
            float: left
            margin-bottom: 17px

        .row:last-child
            div:last-child
                float: left
                padding-top: 18px

@media (max-width: 980px)
    .item-comment .item-image
        display: none

    .well
        padding: 10px

@media (min-width: 935px)
    footer .footer-width
        width: 920px
