.img-polaroid
    background-color: #fff
    border: 1px solid rgba(0,0,0,0.2)
    box-shadow: 0 1px 3px rgba(0,0,0,0.1)
    padding: 4px

/* Footer */
footer
    width: 100%
    margin: 0 auto
    background-color: #2D2D2D
    color: #EFEFEF
    text-shadow: 0 6px 7px rgba(13, 13, 13, 0.62)

footer .copyright
    margin-right: 10px
    font-size: 20px

/* Headings */
@font-face
    font-family: 'FontinSansB'
    src: url('../fonts/Fontin_Sans_B_45b.otf') format('opentype')
    font-weight: bold

h1, h2, h3, h4, h5, h6, .site-title
    font-family: 'FontinSansB', Helvetica, Arial, sans-serif

h1, h2, h3, h4, h5, h6
    margin: 12px 0

h1
    font-size: 26px
    line-height: 28px

h2
    font-size: 22px
    line-height: 24px

h3
    font-size: 18px
    line-height: 20px

h4
    font-size: 14px
    line-height: 16px

h5
    font-size: 13px
    line-height: 15px

h6
    font-size: 12px
    line-height: 14px

/* Footer */
.custom-footer
    font-weight: 200
    line-height: 27px
    margin: 18px 10px 0
    padding: 15px

.custom-footer h4
    font-size: 25px
    margin-bottom: 22px

.custom-footer p
    font-size: 18px

.custom-footer p:last-child
    margin: 0

.custom-footer .contact-links
    text-shadow: 0 1px 3px #000000
    float: right

.custom-footer a:link,
.custom-footer a:visited
    color: #fff

/* For tablets - Backgrounds will overflow anyways so who cares, had to work with design */
@media (max-width: 934px)
    .site-description
        color: #FFFFFF
        font-weight: normal
        left: -7px
        text-align: right
        text-shadow: 0 0 10px black
        top: 110px
        float: none

@media (max-width: 616px)
    .site-description
        color: #000
        font-weight: bold
        left: 2px
        text-align: center
        text-shadow: 0 0 10px white
        top: 176px
        z-index: 99
        float: none
        display: table
        margin: 0 auto

@media (max-width: 480px)
    .header-top
        height: 51px
    
    .header-bottom
        height: 30px
    
    footer .footer-width
        height: 188px
        margin: 0 auto
    
    .site-description
        top: 100px
        font-weight: normal
        font-size: 14px
        text-shadow: none
    
    .custom-footer h4
        font-size: 20px !important
    
    .custom-footer p
        font-size: 15px !important

@media (min-width: 481px)
    footer .footer-width
        margin: 0 auto

@media (max-width: 768px)
    body
        padding-top: 0

    .header
        background: transparent

    .modal.fade
        top: -100%

    .custom-footer h4
        font-size: 22px

    .custom-footer p
        font-size: 16px

@media (max-width: 991px)
    .custom-footer p.contact-links
        float: left
        margin-bottom: 17px

@media (max-width: 980px)
    .navbar-fixed-top
        margin-bottom: 0!important
    
    .item-comment .item-image
        display: none
    
    .well
        padding: 10px


@media (min-width: 935px)
    .header-top
        background: url("../images/header_top_desktop.jpg") no-repeat scroll center top #000000
    
    .header-top-content,
    .main
        display: block
        float: none
        width: 920px
        margin: 0 auto
    
    .header-bottom
        background: url("../images/header_bottom_desktop.jpg") no-repeat scroll center top #111415
    
    footer .footer-width
        width: 920px
