.app-portfolio

    h2
        color: rgba(40, 40, 40, 0.9)
        margin-bottom: 35px
        text-align: center

    .portfolio-wrapper
        padding: 0 20px
        display: flex
        justify-content: center
        flex-direction: row
        flex-wrap: wrap

        .arrow-up
            color: #E7E7E7
            font-size: 50px
            position: absolute
            bottom: -18px
            left: 109px

        .outer
            float: left
            position: relative
            width: 290px

        .inner
            margin: 0 auto
            width: 235px

        .content
            max-width: 250px
            margin: 0 auto

        .portfolio-item
            h3, p
                max-width: 250px
                padding: 0 5px
            p
                font-size: 18px

        .portfolio-item img
            max-width: 240px
            height: 170px

        .item-full
            width: 100%
            clear: both
            background-color: #F6F6F6
            border: 1px solid #E8E8E8
            font-size: 15px
            font-weight: 200
            line-height: 22px
            margin-bottom: 20px
            padding: 0 0 10px 0
            position: relative

            .close
                font-size: 23px
                outline: none
                position: absolute
                right: 7px
                top: 4px
                z-index: 999

            .images
                overflow: hidden
                position: relative
                margin: 0 auto

                .btnl,
                .btnr
                    background-color: #e6e6e6
                    background-image: none
                    border-radius: 0px
                    cursor: pointer
                    font-size: 13px
                    line-height: 18px
                    opacity 0.85
                    outline: none
                    padding-bottom: 4px
                    padding-top: 4px
                    position: absolute
                    transition: opacity 0.4s ease
                    top: 0
                    z-index: 99
                    &:hover
                        opacity: 1

                .btnl
                    border-top-right-radius: 50px
                    border-bottom-right-radius: 50px
                    right: 50%
                    padding: 13px 8px 13px 0

                .btnr
                    border-top-left-radius: 50px
                    border-bottom-left-radius: 50px
                    left: 50%
                    padding: 13px 0 13px 8px

                .btn-mobile
                    background-color: #F0F0F0
                    color: rgba(31, 31, 31, 1)
                    font-size: 25px
                    top: 42%

                    &.btnl
                        left: 0
                        right: auto

                    &.btnr
                        right: 0
                        left: auto

                .inner-wrap
                    width: 100000px
                    position: relative
                    left: 0
                    margin-top: 28px

                    img
                        float: left
                        padding: 0

                    .no-polaroid
                        background-color: transparent
                        border: none
                        box-shadow: none

            .item-more
                article
                    clear: both
                    margin: 30px 35px 20px

                p
                    margin: 12px auto

/* Media queries for portfolio */
@media (max-width: 596px)
    .portfolio-wrapper .outer
        width: 100%
        margin: 0 auto

@media (min-width: 597px)
    .portfolio-wrapper .outer
        width: 50%
        margin: 0 auto

@media (max-width: 720px)
    .app-portfolio
        h2
            font-size: 18px
            margin-left: auto
            margin-right: auto

@media (max-width: 664px)
    .app-portfolio
        h2
            text-align: left
            width: 235px

@media (min-width: 871px)
    .portfolio-wrapper .outer
        width: 33%
        margin: 0 auto

@media (max-width: 616px)
    .portfolio-wrapper
        margin-top: 25px

@media (max-width: 480px)
    .app-portfolio
        .portfolio-wrapper
            padding: 0
            .outer
                height: auto !important
            .item-full .item-more
                article
                    margin-left: 15px
                    margin-right: 15px

@media (max-width: 768px)
    .portfolio-wrapper .item-full .item-more article
        margin: 20px 10px 0

@media (min-width: 769px)
    .portfolio-item
        cursor: pointer
        opacity 0.90
